.DS_Store
.idea
.vscode
.env
src
test
sample
node_modules
*.bin
*.sqlite
*.sh
*.log
coverage/
tsconfig.json
.editorconfig
.prettierrc
.prettierignore
.eslintrc.js
.jestrc.json
webpack.config.js
yarn.lock
README.md
tests/
.nodemon.json